.user-modal{
    position: fixed;z-index: 999;left: 0;top: 0;width: 100%;height: 100%;display: flex;align-items: center;
    justify-content: center;background-color: #000000a3;

    &__wrap{
        position: relative;display: flex;flex-direction: column;gap: 20px;width: 400px;min-height: 300px;padding: 22px 24px 34px;
        box-shadow: 0 6px 20px 0 #00000059;background-color: #fff;border-radius: 20px;
    }
    &__head{display: flex;align-items: center;justify-content: space-between;gap: 10px;}
    &__title{font-weight: 500;}

    &__content{
        display: grid;grid-template: 'av' auto 'name' auto 'mng' auto / 100%;grid-gap: 14px;
    }

    &__avatar{
        justify-self: center;width: 150px;aspect-ratio: 1/1;border-radius: 50%;
    }

    &__name{
        text-align: center;font-weight: 500;

        &_admin{
            &::after{content: ' (Chat admin)';font-weight: 300;font-size: .8em;vertical-align: middle;}
        }
    }

    &__manage{
        display: flex;flex-direction: column;gap: 10px;
        .button{width: 100%;}
    }
}